.read-container {
    display: grid;
    grid-template-columns: 6fr 2fr;
}

.reading-activatice-container {
    background-color: lightslategrey;
}

.active-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.reading-container {
    background-color: rgb(235, 228, 201);
    margin-left: 100px;
    margin-right: 20px;
}

@media screen and (max-width: 1100px) {
    .active-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 972px) {
    .active-container {
        display: grid;
    }
}

@media screen and (max-width: 540px) {
    .read-container {
        display: grid;
    }
}