.profileImage {
    border-radius: 50%;
    width: 40%;
    height: 40%;
    margin-left: 10px;
}

.profileInformation {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.addressInformation {
    padding-left: 10px;
    line-height: 20px;
}

.address {
    display: flex;
    align-items: center;
}

.profileDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: cornsilk;
    margin: 30px 10px 15px 10px;
    border-radius: 20px;
    line-height: 20px;
    padding: 10px 0;
}

.profileDescription h3 {
    color: darkolivegreen;
}

.profileDescription span {
    font-size: 12px;
}